@model IEnumerable<EComercial.Models.Carro>

@{
    ViewBag.Title = "Pedidos";
}


<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Listado de Pedido</h2>
    </div>
    <div  class="panel-body">
        <div class="col-md-10">
            <form id="formCarro" action="@Url.Content("~/Carro/Update")" method="post">
                <table style="align-items:center" class=" table ">
                    <tr class="info">
                        <td>
                            Imagen
                        </td>
                        <td></td>
                        <td>
                            Producto
                        </td>
                        <td>
                            Precio
                        </td>
                        <td>
                            Cantidad
                        </td>
                        <td>
                            Subtotal
                        </td>
                        <td></td>
                    </tr>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>
                                <img src="data:image;base64,@System.Convert.ToBase64String(item.Producto.Imagen)" width="80" height="80" />                                   
                            </td>
                            <td>
                                <input type="hidden" id="ProductoId" name="ProductoId" value="@item.ProductoId" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Producto.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Precio)
                            </td>
                            <td>
                                <input id="Cantidad" name="Cantidad" value="@item.Cantidad" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SubTotal)
                            </td>

                            <td>
                                <input id="update" class="btn-primary" name="update" type="submit" value="Actulizar" />
                            </td>

                        </tr>
                        @*@int TotalAc = modelItem => item.SubTotal;*@
                    }
                    <tr class="success">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            Total
                        </td>
                        <td>
                            @ViewBag.Suma
                        </td>

                        <td></td>

                    </tr>
                </table>
                <br /><br />
                <div class="col-md-12">

                    <input id="confirmate" class="btn-primary" name="confirmate" type="submit" value="Confirmar" />
                    @*<button id="update" onclick="Actualizar();">Actualizar</button>
                <button id="confirmate" onclick="Confirmar();">Confirmar</button>*@
                </div>
            </form>
        </div>
    </div>
</div>


