@model EComercial.Models.Comprador

@{
    ViewBag.Title = "Eliminar";
}


<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Clientes - ¿Está seguro de que desea eliminar esto?</h2>
    </div>
    <div class="panel-body">
        <div class="col-md-3">
            <img src="~/Images/e.png" width="80" height="80" />
            <div>    Nombre: @Html.DisplayFor(model => model.Nombre) </div>
            <div>    Apellido: @Html.DisplayFor(model => model.Apellido)</div>
            <div>    E-mail: @Html.DisplayFor(model => model.Email)</div>
            <div>    Teléfono: @Html.DisplayFor(model => model.Telefono)</div>
            <div>    Dirección: @Html.DisplayFor(model => model.Direccion)</div>
            <br />
            <div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" class="btn-primary" value="Eliminar" /> |
        @Html.ActionLink("Volver al listado", "Index")
    </p>
}

            </div>
        </div>
    </div>
</div>

