@model EComercial.Models.Comprador

@{
    ViewBag.Title = "Edit";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Edición de Clientes</h2>
    </div>
    <div class="panel-body">
        <div class="col-md-3">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>Comprador</legend>

                    @Html.HiddenFor(model => model.CompradorId)

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Nombre)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Nombre)
                        @Html.ValidationMessageFor(model => model.Nombre)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Apellido)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Apellido)
                        @Html.ValidationMessageFor(model => model.Apellido)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Email)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Email)
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Telefono)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Telefono)
                        @Html.ValidationMessageFor(model => model.Telefono)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Direccion)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Direccion)
                        @Html.ValidationMessageFor(model => model.Direccion)
                    </div>
                    <br/>
                    <p>
                        <input type="submit" class="btn-primary" value="Guardar" />
                    </p>
                </fieldset>
            }

            <div>
                @Html.ActionLink("Volver al listado", "Index")
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
