@model EComercial.Models.SubCategoria

@{
    ViewBag.Title = "Detalles";
}

<h2>Details</h2>

<fieldset>
    <legend>SubCategoria</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Categoria.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Categoria.Nombre)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.SubCategoriaId }) |
    @Html.ActionLink("Volver al listado", "Index")
</p>
