@model IEnumerable<EComercial.Models.Pedido>

@{
    ViewBag.Title = "Pedidos";
}

<h2>Pedido</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class = "table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comprador.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comprador.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.PedidoId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.PedidoId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.PedidoId })
        </td>
    </tr>
}

</table>
