@model IEnumerable<EComercial.Models.Negocio>

@{
    ViewBag.Title = "Negocios";
}

<h2>Negocios</h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">@Html.ActionLink("Crear Nuevo Negocio", "Create")</h2>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <table class="table">
                <tr class="info">
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Direccion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cuit)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Direccion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cuit)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.NegocioId }) |
                            @Html.ActionLink("Detalles", "Details", new { id = item.NegocioId }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.NegocioId })
                        </td>
                    </tr>
                }

            </table>



        </div>
    </div>
</div>

