@model EComercial.Models.Producto

@{
    ViewBag.Title = "Detalles";
}

<h2></h2>

<div class="panel panel-primary">
<div class="panel-heading">
    <h2 class="panel-title">Productos</h2>
</div>
    <div class="panel-body">
        <div class="col-md-5">
            <img src="data:image;base64,@System.Convert.ToBase64String(Model.Imagen)" width="80" height="80" />   
            <div>    @Html.DisplayFor(model => model.Nombre) </div>
            <div>    $ @Html.DisplayFor(model => model.PrecioVenta)</div>
            <div>    Negocio: @Html.DisplayFor(model => model.Negocio.Nombre)</div>
            <div>    Unidades Disponibles: @Html.DisplayFor(model => model.Cantidad)</div>
            <br />
            <div>
                @*@Html.ActionLink("Editar", "Edit", new { id = Model.ProductoId }) |*@
                <div><a href="@Url.Content("~/Carro/Add/")@Html.DisplayFor(model => model.ProductoId)">Agregar al <img src="~/Images/carrito (1).png" style="width: 28px; height: 28px;" /></a></div>
                <div>@Html.ActionLink("Volver ", "Index")</div>
            </div>
        </div>
    </div>
</div>

