@model EComercial.Models.FormaEntrega

@{
    ViewBag.Title = "Detalles";
}

<h2>Details</h2>

<fieldset>
    <legend>FormaEntrega</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TipoEntrega.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoEntrega.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Costo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Costo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Pedido.PedidoId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pedido.PedidoId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.FormaEntregaId }) |
    @Html.ActionLink("Volver al listado", "Index")
</p>
