@model IEnumerable<EComercial.Models.FormaEntrega>

@{
    ViewBag.Title = "Forma de Entrega";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class = "table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoEntrega.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pedido.PedidoId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoEntrega.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Costo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pedido.PedidoId)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.FormaEntregaId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.FormaEntregaId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.FormaEntregaId })
        </td>
    </tr>
}

</table>
